@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Ubuntu:wght@300;400;700&display=swap');


$font-lora: 'Lora', serif ;
$font-ubuntu: 'Ubuntu', sans-serif;

$white: #FFFFFF;
$darkwhite: #F8F8F8;
$lightgrey: #EBEBEB;
$grey: #707070;
$darkgrey: #717171 ;
$lightblue: #1792D2;
$blue: #143774;


html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

*{
    font-family: $font-ubuntu;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-family: $font-lora;
    color: $blue;
}


// ============= Nav =============

header {
    background-color: $darkwhite;
    padding: 4.5em 0;
}

.container-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
        font-size: 3.3rem;
        font-weight: 400;
    }

    p {
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 0.24em;
        color: $lightblue;
        text-transform: uppercase;
    }
}

.nav-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 4em 0 1em;
    li {
        margin: 1em 0;
        a{
            font-size: 1.6rem;
            font-weight: 700;
            letter-spacing: 0.2em;
            color: $darkgrey;
            padding: 0.5em 0;

            &:hover,
            :focus{
                color: #1792D2;
            }

        }
    }
}

.active {
    border-bottom: 1px solid $darkgrey;
    &:hover{
        color: #717171 !important; 
    }
}


// ============= /Nav =============



// ============= Main =============


.container-main {
    display: flex;
    flex-direction: column;
}

// *article*

.article-featured {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $grey;
    margin: 3em 0;
}

.article-title {
    font-size: 2.4rem;
    order: 3;
}

.article-img {
    width: 100%;
    order: 1;

    &:nth-child(1){
        height: 242px;
        object-fit: cover;
    }
}

.article-info {
    font-size: 1.4rem;
    color: $grey;
    order: 2;
    margin: 2em 0;
}

.article-body {
    font-size: 1.8rem;
    font-weight: 300;
    color: $grey;
    order: 4;
    margin: 1em 0;

    u {
        color: $lightblue;
        text-decoration: underline;
    }
}

.article-read-more {
    font-size: 1.4rem;
    font-weight: 700;
    color: $lightblue;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    order: 5;
    margin-bottom: 2em;
}

.article-recent {
    display: flex;
    flex-direction: column-reverse;
    margin: 5em 0;
}

.article-recent-main {
    .article-title {
        margin-top: -1em;
    }
}

.article-recent-secondary {
    
    .article-info {
        float: right;
    }

}

// *aside*

.sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar-widget {
    display: flex;
    flex-direction: column;
    padding: 2em;
    border: 2em solid $lightgrey;
    margin-bottom: 2em;
}

.widget-title {
    font-family: $font-ubuntu;
    font-size: 1.8rem;
    font-weight: 700;
    color: $blue;
    text-transform: uppercase;
    margin-bottom: 1.7em;
}

.widget-img {
    width: 100%;
    height: 87px;
    object-fit: cover;
}

.widget-img-about {
    height: 133px;
}

.widget-body {
    font-size: 1.4rem;
    font-weight: 300;
    color: $blue;
    margin: 2.8em 0;
}

.widget-recent-post {
    margin-bottom: 2em;
    border-bottom: 1px solid $grey;
    display: flex;
    flex-direction: column-reverse;

    &:last-child{
        border: none;
    }
}

.widget-recent-post-title {
    font-size: 1.8em;
    color: $blue;
    font-weight: 400;
    margin: 2em 0;
}

// *about-page*

.article-about {
    margin: 3em 0;
}

.about-img {
    width: 100%;
}

.about-title {
    font-size: 2.4rem;
    color: $blue;
    margin: 1em 0;
}

.about-body {
    font-size: 1.8rem;
    font-weight: 300;
    color: $grey;

    span {
        font-family: $font-lora;
        font-size: 2.1rem;
        color: $lightblue;
    }
}


// ============= Footer =============

footer {
    background-color: $blue;
    text-align: center;
}

.footer {
    padding: 6em 0;
    font-size: 1.8rem;
    font-weight: 700;
    color: $white;
    opacity: 54%;

    span {
        font-weight: 300;
    }
}

// ============= /Footer =============



// ============= Media =============

@media (min-width:930px) {


    // *nav*

    .container-nav {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-wrapper {
        flex-direction: row;

        li {
            margin-left: 3em;
        }
    }


    // *main* 
    .container-main {
        flex-direction: row;
        justify-content: space-between;
    }

    main {
        width: 70%;
    }

    .article-title {
        margin-bottom: 1em;
        order: 0;
    }

    .article-featured {

        .article-info{
            margin: 1em 0 0;

        }
    }

    .article-recent {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .article-recent-main {
        width: 70%;

        .article-title {
            margin: 0;
        }
    }

    .article-recent-secondary {
        width: 25%;

        .article-info {
            margin: 1em 0 0;
            float: left;
        }
    }

    aside {
        width: 25%;
        margin-top: 3em;
    }

}




// ============= /Media =============