@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Ubuntu:wght@300;400;700&display=swap");
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  font-family: "Ubuntu", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: "Lora", serif;
  color: #143774;
}

header {
  background-color: #F8F8F8;
  padding: 4.5em 0;
}

.container-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.container-nav h1 {
  font-size: 3.3rem;
  font-weight: 400;
}
.container-nav p {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.24em;
  color: #1792D2;
  text-transform: uppercase;
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 4em 0 1em;
}
.nav-wrapper li {
  margin: 1em 0;
}
.nav-wrapper li a {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #717171;
  padding: 0.5em 0;
}
.nav-wrapper li a:hover,
.nav-wrapper li a :focus {
  color: #1792D2;
}

.active {
  border-bottom: 1px solid #717171;
}
.active:hover {
  color: #717171 !important;
}

.container-main {
  display: flex;
  flex-direction: column;
}

.article-featured {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #707070;
  margin: 3em 0;
}

.article-title {
  font-size: 2.4rem;
  order: 3;
}

.article-img {
  width: 100%;
  order: 1;
}
.article-img:nth-child(1) {
  height: 242px;
  object-fit: cover;
}

.article-info {
  font-size: 1.4rem;
  color: #707070;
  order: 2;
  margin: 2em 0;
}

.article-body {
  font-size: 1.8rem;
  font-weight: 300;
  color: #707070;
  order: 4;
  margin: 1em 0;
}
.article-body u {
  color: #1792D2;
  text-decoration: underline;
}

.article-read-more {
  font-size: 1.4rem;
  font-weight: 700;
  color: #1792D2;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  order: 5;
  margin-bottom: 2em;
}

.article-recent {
  display: flex;
  flex-direction: column-reverse;
  margin: 5em 0;
}

.article-recent-main .article-title {
  margin-top: -1em;
}

.article-recent-secondary .article-info {
  float: right;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar-widget {
  display: flex;
  flex-direction: column;
  padding: 2em;
  border: 2em solid #EBEBEB;
  margin-bottom: 2em;
}

.widget-title {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: #143774;
  text-transform: uppercase;
  margin-bottom: 1.7em;
}

.widget-img {
  width: 100%;
  height: 87px;
  object-fit: cover;
}

.widget-img-about {
  height: 133px;
}

.widget-body {
  font-size: 1.4rem;
  font-weight: 300;
  color: #143774;
  margin: 2.8em 0;
}

.widget-recent-post {
  margin-bottom: 2em;
  border-bottom: 1px solid #707070;
  display: flex;
  flex-direction: column-reverse;
}
.widget-recent-post:last-child {
  border: none;
}

.widget-recent-post-title {
  font-size: 1.8em;
  color: #143774;
  font-weight: 400;
  margin: 2em 0;
}

.article-about {
  margin: 3em 0;
}

.about-img {
  width: 100%;
}

.about-title {
  font-size: 2.4rem;
  color: #143774;
  margin: 1em 0;
}

.about-body {
  font-size: 1.8rem;
  font-weight: 300;
  color: #707070;
}
.about-body span {
  font-family: "Lora", serif;
  font-size: 2.1rem;
  color: #1792D2;
}

footer {
  background-color: #143774;
  text-align: center;
}

.footer {
  padding: 6em 0;
  font-size: 1.8rem;
  font-weight: 700;
  color: #FFFFFF;
  opacity: 54%;
}
.footer span {
  font-weight: 300;
}

@media (min-width: 930px) {
  .container-nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-wrapper {
    flex-direction: row;
  }
  .nav-wrapper li {
    margin-left: 3em;
  }

  .container-main {
    flex-direction: row;
    justify-content: space-between;
  }

  main {
    width: 70%;
  }

  .article-title {
    margin-bottom: 1em;
    order: 0;
  }

  .article-featured .article-info {
    margin: 1em 0 0;
  }

  .article-recent {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .article-recent-main {
    width: 70%;
  }
  .article-recent-main .article-title {
    margin: 0;
  }

  .article-recent-secondary {
    width: 25%;
  }
  .article-recent-secondary .article-info {
    margin: 1em 0 0;
    float: left;
  }

  aside {
    width: 25%;
    margin-top: 3em;
  }
}

/*# sourceMappingURL=style.css.map */
